In [67]:
# Import the pandas and the csv file
import pandas as pd
from pathlib import Path
import csv

In [68]:
# Check with which directory Python is currently communicating with
print(f"Current working directory: {Path.cwd()}")

Current working directory: /Users/kevinwalsh/Desktop/cu-nyc-fin-pt-09-2020-u-c/Homework/02-Python/Instructions/PyRamen

In [69]:
# Set the file Path
csvpath = Path("../PyBank/Resources/Budget_data.csv")

In [70]:
# Read csv as pandas dataframe
profit_loss = pd.read_csv(csvpath, index_col = "Date")
profit_loss.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [71]:
# Find the variables
total_months = profit_loss.count(axis=0,level=None,numeric_only=False)
total_profit_loss = profit_loss.sum()

In [72]:
# Find the numerical change
profit_loss_change = profit_loss.diff()
profit_loss_change.head()

          Profit/Losses
Date
Jan-2010            NaN
Feb-2010       116771.0
Mar-2010      -662642.0
Apr-2010      -391430.0
May-2010       379920.0

In [73]:
# Find the maximum profit value and corresponding date
profit_max = profit_loss_change.max()
profit_max_date = profit_loss_change.idxmax()

In [74]:
# Find the minimum profit value and corresponding date
profit_min = profit_loss_change.min()
profit_min_date = profit_loss_change.idxmin()

In [93]:
# Find the average change
average_change = profit_loss_change.mean()

In [94]:
# Check - total months and profit/loss
print(total_months)
print(total_profit_loss)

Profit/Losses    86
dtype: int64
Profit/Losses    38382578
dtype: int64

In [95]:
# Check average change
print(average_change)

Profit/Losses   -2315.117647
dtype: float64

In [96]:
# Check maximum change
print(profit_max)
print(profit_max_date)

Profit/Losses    1926159.0
dtype: float64
Profit/Losses    Feb-2012
dtype: object

In [97]:
# Check minimum change
print(profit_min)
print(profit_min_date)

Profit/Losses   -2196167.0
dtype: float64
Profit/Losses    Sep-2013
dtype: object